# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=0'

In [3]:
# create the headers with the User Agent in order to be able to do the requests.get
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:87.0) Gecko/20100101 Firefox/87.0'}

In [4]:
# encapsulate the information
zalando1 = requests.get(url, headers=headers).json()

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions). Hint: use the headers parameter to get the data!

In [5]:
# create a dataframe with the articles of the first page
articles = pd.DataFrame(zalando1['articles'])

In [6]:
# check if the DataFrame has been loaded correctly
articles.head(5)

,sku,name,price,sizes,url_key,media,brand_name,is_premium,family_articles,flags,tracking_information,product_group,delivery_promises,amount
0,NI113D0A6-Q11,AIR MAX 90 UNISEX - Baskets basses - black/white,"{'original': '59,95 €', 'promotional': '50,95...","[17, 18.5, 19.5, 21, 22, 23.5]",nike-sportswear-nike-air-max-90-ltr-baskets-ba...,[{'path': 'spp-media-p1/59cf7517d4473bdd8c4014...,Nike Sportswear,False,"[{'sku': 'NI113D0A6-Q11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': '-15%', 'tra...",{'metrigo_impression_urls': ['https://ccp-et.a...,shoe,[],NaN
1,NI114D07I-Q12,AIR MAX 270 - Baskets basses - black/anthraci...,"{'original': '84,95 €', 'promotional': '76,45...","[27.5, 28, 28.5, 29.5, 30, 31, 31.5, 32, 33, 3...",nike-sportswear-air-max-270-baskets-basses-ni1...,[{'path': 'spp-media-p1/7d0a21c70a343986a8d2d7...,Nike Sportswear,False,"[{'sku': 'NI114D07I-Q12', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusqu’à -10...",{'metrigo_impression_urls': ['https://ccp-et.a...,shoe,[],NaN
2,NI114D0AC-A11,AIR MAX 270 UNISEX - Baskets basses - white/mt...,"{'original': '84,95 €', 'promotional': '76,45...","[27.5, 28, 28.5, 29.5, 30, 31, 31.5, 32, 33, 3...",nike-sportswear-air-max-270-baskets-basses-ni1...,[{'path': 'spp-media-p1/b8faa185fefb363daeac6f...,Nike Sportswear,False,"[{'sku': 'NI114D0AC-A11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': '-10%', 'tra...",{'metrigo_impression_urls': ['https://ccp-et.a...,shoe,[],NaN
3,TH343D006-Q11,YOUTH EASY UNISEX - T-shirt imprimé - black/white,"{'original': '15,95 €', 'promotional': '13,55...","[10a/12a, 12a/14a, 16a/18a, 5a/6a, 7a/8a]",the-north-face-easy-tee-t-shirt-imprime-th343d...,[{'path': 'spp-media-p1/1ac794192906396da52369...,The North Face,False,"[{'sku': 'TH343D006-Q11', 'url_key': 'the-nort...","[{'key': 'discountRate', 'value': '-15%', 'tra...",NaN,clothing,[],NaN
4,TH343D005-Q12,SIMPLE DOME UNISEX - T-shirt basique - black,"{'original': '19,95 €', 'promotional': '15,95...","[10a/12a, 12a/14a, 16a/18a, 5a/6a, 7a/8a]",the-north-face-simple-dome-t-shirt-imprime-th3...,[{'path': 'spp-media-p1/7a8bf28e74e9324e80f46b...,The North Face,False,"[{'sku': 'TH343D005-Q12', 'url_key': 'the-nort...","[{'key': 'discountRate', 'value': '-20%', 'tra...",NaN,clothing,[],NaN

In [7]:
# check if the nº of articles is 84
len(articles)

84

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [8]:
# to collect all the pages:
# Step 1: create an empty list
# Step 2: make a for loop with a range of the total number of pages
# Step 3: get the url of every page and obtain its articles and append them into the empty list
articles_total = []
for i in range(1, zalando1['pagination']['page_count'] + 1):
    zalando_total = requests.get(url, headers=headers, params={'current_page':i}).json()
    articles_total.extend(zalando_total['articles'])

In [9]:
# check the total number of articles
len(articles_total)

19992

In [10]:
# create a dataframe with the articles of all pages
zalando2 = pd.DataFrame(articles_total)

In [11]:
# set sku column as index
zalando2.set_index('sku', inplace = True)

In [25]:
# check if the DataFrame and the index were successfully loaded
zalando2.head(5)

,name,price,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,amount,tracking_information,original_price,promo_price,discount
sku,,,,,,,,,,,,,,,,
TH343D006-Q11,YOUTH EASY UNISEX - T-shirt imprimé - black/white,"{'original': '15,95 €', 'promotional': '13,55...","[10a/12a, 12a/14a, 16a/18a, 5a/6a, 7a/8a]",the-north-face-easy-tee-t-shirt-imprime-th343d...,[{'path': 'spp-media-p1/1ac794192906396da52369...,The North Face,False,"[{'sku': 'TH343D006-Q11', 'url_key': 'the-nort...","[{'key': 'discountRate', 'value': '-15%', 'tra...",clothing,[],NaN,NaN,15.95,13.55,2.4
TH343D005-Q12,SIMPLE DOME UNISEX - T-shirt basique - black,"{'original': '19,95 €', 'promotional': '15,95...","[10a/12a, 12a/14a, 16a/18a, 5a/6a, 7a/8a]",the-north-face-simple-dome-t-shirt-imprime-th3...,[{'path': 'spp-media-p1/7a8bf28e74e9324e80f46b...,The North Face,False,"[{'sku': 'TH343D005-Q12', 'url_key': 'the-nort...","[{'key': 'discountRate', 'value': '-20%', 'tra...",clothing,[],NaN,NaN,19.95,15.95,4.0
LE226G005-A11,BATWING TEE - T-shirt imprimé - white,"{'original': '17,95 €', 'promotional': '15,25...","[2a, 3a, 4a, 5a, 6a, 8a, 10a, 12a, 14a, 16a]",levisr-t-shirt-imprime-white-le226g005-a11,[{'path': 'spp-media-p1/8d33b25d4a1b3a718e588e...,Levi's®,False,"[{'sku': 'LE226G005-A11', 'url_key': 'levisr-t...","[{'key': 'discountRate', 'value': '-15%', 'tra...",clothing,[],NaN,NaN,17.95,15.25,2.7
N1243A113-Q11,REVOLUTION 5 UNISEX - Chaussures de running ne...,"{'original': '37,95 €', 'promotional': '30,35...","[27.5, 28, 28.5, 29.5, 30, 31, 31.5, 32, 33, 3...",nike-performance-revolution-5-chaussures-de-ru...,[{'path': 'spp-media-p1/ef91b309eef63df2966125...,Nike Performance,False,"[{'sku': 'N1243A113-Q11', 'url_key': 'nike-per...","[{'key': 'discountRate', 'value': '-20%', 'tra...",shoe,[],171 g,NaN,37.95,30.35,7.6
JAN24B004-Q11,Pantalon cargo - black,"{'original': '49,95 €', 'promotional': '34,95...","[8a, 9a, 10a, 11a, 12a, 13a, 14a, 15a, 16a]",jackandjones-junior-pantalon-cargo-black-jan24...,[{'path': 'spp-media-p1/6272154bdaec3231bf44b9...,Jack & Jones Junior,False,"[{'sku': 'JAN24B004-Q11', 'url_key': 'jackandj...","[{'key': 'discountRate', 'value': '-30%', 'tra...",clothing,[],NaN,NaN,49.95,34.95,15.0

#### Display the trending brand in DataFrame

In [13]:
# check the number of articles by brand
zalando2.groupby('brand_name')['name'].count().nlargest(1)

brand_name
Nike Sportswear    2216
Name: name, dtype: int64

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [15]:
# create a column for original prices by obtaining the key original and replacing spaces and € symbol
zalando2['original_price'] = zalando2['price'].apply(lambda x: x['original']).replace(to_replace='\s{1,}\W', value='', regex=True)

In [16]:
# from the str, change the ',' for the '.' to be able to convert it to float
zalando2['original_price'] = zalando2['original_price'].replace(to_replace=',', value='.', regex=True)

In [17]:
# convert to float
zalando2['original_price'] = zalando2['original_price'].apply(lambda x: float(x))

In [18]:
# create a column for promo prices by obtaining the key original and replacing spaces and € symbol
zalando2['promo_price'] = zalando2['price'].apply(lambda x: x['promotional']).replace(to_replace='\s{1,}\W', value='', regex=True)

In [19]:
# from the str, change the ',' for the '.' to be able to convert it to float
zalando2['promo_price'] = zalando2['promo_price'].replace(to_replace=',', value='.', regex=True)

In [20]:
# convert to float
zalando2['promo_price'] = zalando2['promo_price'].apply(lambda x: float(x))

In [21]:
# create a column for discount by subtracting original price minus promo price
zalando2['discount'] = zalando2['original_price'] - zalando2['promo_price']

In [22]:
# check the brand with most acumulated discount
zalando2.groupby('brand_name')['discount'].sum().nlargest(1)

brand_name
Nike Sportswear    23672.74
Name: discount, dtype: float64

#### Display the brands without discount at all

In [23]:
# create a new DataFrame with acumulated discount
zalando_disc = pd.DataFrame(zalando2.groupby('brand_name')['discount'].sum())

In [24]:
# check if there is a discount equal to 0
zalando_disc[zalando_disc['discount']==0]

Empty DataFrame
Columns: [discount]
Index: []